* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-family: "Karla", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1c1c1c;
}

.main-container {
    height: 550px;
    width: 550px;
    color: white;
    background-color: #1F2937;
    margin: 40px 0 0 40px;
    padding: 100px 60px 0;
    border-radius: 5px;
}

.heading {
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 10px;
}

.span-heading {
    color: #4ADF86;
}

.paragraph {
    font-size: 20px;
    color: #D5D4D8;
    margin-bottom: 50px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background-color: #10B981;
    border: 1px solid #10B981;
    border-radius: 5px;
    margin-bottom: 35px;
}

.horizontal-rule {
    border-top: 1px solid #2F3E53;
    margin-bottom: 35px;
}

.password-container {
    display: flex;
    gap: 20px;
}

.password {
    font-size: 16px;
    color: #55F991;
    background-color: #273549;
    border: 1px solid #273549;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    min-height: 40px;
    min-width: 210px;
}